@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    color: rgb(65, 65, 65);
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#page-wrapper {
    min-height: calc(100vh - 236px);
}

/* FRONT PAGE */
#banner-full {
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#banner-full h1 {
    color: whitesmoke;
    font-size: 4.5rem;
    letter-spacing: 2.5px;
}

#banner-full h2 {
    color: whitesmoke;
    font-size: 1.6rem;
}

.scroll-down {
    width: 100px;
    height: 50px;
    color: whitesmoke;
    position: absolute;
    bottom: 70px;
    font-size: 1.1rem;
    text-align: center;
}

.scroll-down svg {
    stroke: white;
    stroke-width: 5;
    fill: none;
    fill-opacity: 0;
    margin-top: 5px;
    width: 100px;
    height: 50px;
}

.scroll-down svg line {
    transform: translateX(25%);
    transition: 500ms ease;
}

.scroll-down:hover line,
.scroll-down:focus line {
    transform: translate(25%, 10px);
}

.scroll-up {
    display: block;
    margin: auto;
    width: 100px;
    font-size: 1.1rem;
    text-align: center;
}

.scroll-up svg {
    stroke: rgb(65, 65, 65);
    stroke-width: 5;
    fill: none;
    fill-opacity: 0;
    margin-top: 5px;
    width: 100px;
    height: 50px;  
}

.scroll-up svg line {
    transform: translateX(25%);
    transition: 500ms ease;
}

.scroll-up:hover line,
.scroll-up:focus line {
    transform: translate(25%, -10px);
}

#video-tint {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

#banner-full video {
    position: absolute;
    top: 0;
    z-index: -2;
    min-width: 100%;
    min-height: 100%;
}

/* MENU */
#navbar {
    position: sticky;
    top: 0;
    background-color: white;
}

#mobile-menu-checkbox {
    display: none;
}

#navbar-left,
#navbar-right {
    display: inline-block;
    vertical-align: top;
}

#navbar-right {
    float: right;
}

#navbar li {
    display: inline-block;
}

#navbar a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px 10px;
    font-size: 1.1rem;
    font-weight: bold;
}

#navbar a:hover {
    text-decoration: underline;
}

#mobile-menu-toggle {
    display: none;
}

#skip-navigation-links {
    display: block;
    width: 120px !important;
    height: 75px !important;
    color: whitesmoke;
    border-radius: 5px;
    position: absolute;
    right: 100%;
    transform: translateY(75%);
    background-color: rgb(0, 119, 255);
}

#skip-navigation-links:focus {
    left: 10px;
}

/* CONTENT */
.content-subpage {
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
    padding: 2% 9% 9% 9%;
}
.content-subpage ol li {
    margin-top: 15px;
    margin-bottom: 15px;
}
.content-subpage ul li {
    margin-top: 0;
    margin-bottom: 0;
}

.content-block {
    width: 100%;
    font-size: 1.1rem;
    display: flex;
    flex-flow: row wrap;
}

.content-subpage p a,
.content-block a,
.content-text a {
    color: rgb(0, 119, 255);
}

.content-text {
    max-width: 100%;
    padding: 6% 13% 9% 13%;
}
.content-text > video {
    max-width: 100%;
    height: auto;
    text-align: center;
    border: 1px solid black;
}
.content-text #button {
    text-align: center;
}
.content-text #button button {
    padding: 15px;
    border-radius: 5px;
    color: whitesmoke;
    background-color: rgb(0, 119, 255);
    border-color: rgb(0, 119, 255);
    font-size: 1.1rem;
}

.content-text-left {
    max-width: 60%;
    padding: 9% 4% 9% 13%;
}
.content-text-right {
    max-width: 60%;
    padding: 9% 13% 9% 4%;
}
/* Padding er "horisontalt omvendt" på content-text boksene slik at mellomrommene skal passe basert
 * på om bildet står til høyre eller venstre.
 * Det samme gjelder for bildene, men de har ingen padding-top eller bottom (unødvendig).
 */

.img-right,
.img-left {
    width: 40%;
    margin: auto 0;
}
.img-right img,
.img-left img {
    max-width: 100%;
    min-width: 200px;
    height: auto;
}
.img-right {
    text-align: left;
    padding: 0 13% 0 4%;
}
.img-left {
    text-align: right;
    padding: 0 4% 0 13%;
}

.content-block video {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

#challenge-anchor,
#subscribe-anchor {
    margin-top: -54px;
}

#top-anchor {
    position: absolute;
    top: 0;
}

footer {
    width: 100%;
    padding-bottom: 40px;
}
footer #footer-info {
    display: flex;
    flex-flow: row wrap;
    font-size: 1.1rem;
    padding-top: 20px;
}
footer #footer-info > .footer-divided {
    width: calc(100% / 3);
    text-align: center;
    margin: auto;
}
footer #footer-info > #footer-center {
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

/* REGISTER & LOGIN */
.register,
.log-in {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
    margin-top: 50px;
    padding: 40px;
    box-shadow: 0px 0px 37px 0px rgba(0, 0, 0, 0.30);
}

.register h1,
.log-in h1 {
    border-bottom: 4px solid rgb(65, 65, 65);
}

.register input,
.log-in input,
.register select,
.log-in select {
    margin: 15px 0px;
    padding: 15px;
    border: 0;
    background-color: #F5F5F5;
}

.accept-policy {
    display: flex;
}

.accept-policy input {
    width: 34px;
    height: 34px;
    margin: 0px;
    margin-right: 20px;
}

.register input[type="submit"],
.log-in input[type="submit"] {
    background-color: rgb(65, 65, 65);
    color: whitesmoke;
}

.register input[type="submit"]:hover,
.log-in input[type="submit"]:hover {
    background-color: rgb(90, 90, 90);
    cursor: pointer;
}


/* Mobile */
@media only screen and (max-width: 660px) {
    html {
        padding-top: 54px; /* Plass til menyen */
    }

    #page-wrapper {
        min-height: calc(100vh - 54px - 289px);
    }

    #banner-full {
        height: calc(100vh - 54px);
    }
    #banner-full h1 {
        font-size: 2.5rem;
    }
    #banner-full h2 {
        font-size: 1.2rem;
    }

    #navbar {
        position: fixed;
        top: 0;
        width: 100%;
        padding-top: 54px; /* Space for menu-button */
        background-color: rgb(220, 220, 220);
        z-index: 999;
    }

    #mobile-menu-wrapper {
        height: 100%;
        display: none;
        text-align: center;
    }

    #mobile-menu-toggle {
        display: block;
        width: 70px;
        height: 50px;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        text-align: center;
        line-height: 54px;
        font-size: 1.1rem;
        font-weight: bold;
    }

    #mobile-menu-toggle:hover {
        text-decoration: underline;
    }

    #navbar-left,
    #navbar-right {
        display: block;
        float: none;
    }

    #navbar li {
        display: block;
    }

    #mobile-menu-checkbox:checked ~ #mobile-menu-wrapper {
        display: block;
    }

    .content-block,
    .content-block .content-text #button button,
    .content-subpage,
    footer a,
    footer p {
        font-size: 0.9rem;
    }

    .content-text-left,
    .content-text-right,
    .content-text,
    .content-subpage {
        max-width: 100%;
        padding: 3%;
        order: 1;
    }

    .content-subpage ol {
        padding-left: 6%;
    }

    .img-left,
    .img-right {
        width: 100%;
        padding: 3%;
        text-align: center;
        order: 2;
    }
    .img-left img,
    .img-right img {
        min-width: 100px;
        width: auto;
        max-height: 175px;
    }

    footer #footer-info .footer-divided {
        width: 100%;
        margin: 5px 0;
    }

    .register,
    .log-in {
        width: 100%;
        margin: 0px;
    }
}
