@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    color: rgb(65, 65, 65);
}

a {
    color: inherit;
    text-decoration: none;
}

/* FRONT PAGE */
#banner-full {
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#banner-full h1 {
    color: whitesmoke;
    font-size: 4.5rem;
    letter-spacing: 2.5px;
}

#banner-full h2 {
    color: whitesmoke;
    font-size: 1.6rem;
}

#video-tint {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

#banner-full video {
    position: absolute;
    top: 0;
    z-index: -2;
    width: 100%;
    min-height: 100%;
}

/* MENU */
#navbar {
    position: sticky;
    top: 0;
    background-color: white;
}

#navbar-left,
#navbar-right {
    display: inline-block;
}

#navbar-right {
    float: right;
}

#navbar ul {
    list-style-type: none;
    margin: 5px;
}

#navbar ul li {
    float: left;
}

#navbar a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 12px 10px;
    font-weight: bolder;
}

#navbar a:hover {
    text-decoration: underline;
}

/* CONTENT */
.content-block {
    width: 100%;
    font-size: 17px;
    display: flex;
    flex-flow: row wrap;
}

.content-text-left {
    max-width: 60%;
    padding: 9% 4% 9% 13%;
}
.content-text-right {
    max-width: 60%;
    padding: 9% 13% 9% 4%;
}
/* Padding er "horisontalt omvendt" på content-text boksene slik at mellomrommene skal passe basert
 * på om bildet står til høyre eller venstre.
 * Det samme gjelder for bildene, men de har ingen padding-top eller bottom (unødvendig).
 */

.img-right,
.img-left {
    width: 40%;
    margin: auto 0;
}
.img-right > img,
.img-left > img {
    max-width: 100%;
    min-width: 200px;
    height: auto;
}
.img-right {
    text-align: left;
    padding: 0 13% 0 4%;
}
.img-left {
    text-align: right;
    padding: 0 4% 0 13%;
}
